@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Sarala&display=swap');

/* font-family: 'Asap', sans-serif;
font-family: 'Sarala', sans-serif; */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkturkis: #469597;
  --turkis:#5BA199;
  --darkgrey: #BBC6C8;
  --lightgrey:#E5E3E4;
  --beige:#DDBEAA;
}

.app-container {
  background-color: var(--darkgrey);
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

/*###### Modal Component ######*/
/* modal-container */

.modal-container {
  font-family: 'Asap',sans-serif, Arial, Helvetica, sans-serif;
  color: var(--lightgrey);
  width: 400px;
  height: 200px;
  background-color: var(--turkis);
  border: 1px var(--beige) solid;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
    position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--lightgrey);
  border: none;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--beige);
}

.close-button p {
  font-family: 'Asap', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500s;
  font-size: large;
  color: var(--darkturkis);
}

/* button-container */
.open-modal, 
.open-sidebar {
  padding: 10px;
  font-family:'Sarala', sans-serif, Arial, Helvetica, sans-serif;
  background-color: var(--turkis);
  border: none;
  border-radius: 3px;
}

.open-sidebar {
  position: absolute;
  top: 0;
  left: 0;
}

.open-sidebar p {
  color: var(--beige);
  width: 230px;
}

/* sidebar-container */
.sidebar-container {
  background-color: var(--turkis);
  border-radius: 3px;
  position: relative;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-container h3 {
  padding: 5px;
  font-family: 'Sarala', sans-serif, Arial, Helvetica, sans-serif;
  color: var(--beige);
  margin-bottom: 20px;
}

.link-cont a {
  display: flex;
  margin: 10px;
  color: var(--lightgrey); text-decoration: none;
}

.link-cont p {
  margin-right: 10px;
  font-size: 1.3rem;
  font-family: 'Sarala',
    sans-serif,
    Arial,
    Helvetica,
    sans-serif;
    text-transform: capitalize;
}

.social-cont {

  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.social-cont p {
  color: var(--beige);
  font-size: 1.5rem;
}

